In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('revenue_prediction.csv')
df.head()

,Id,Name,Franchise,Category,City,No_Of_Item,Order_Placed,Revenue
0,101,HungryHowie'sPizza,Yes,Mexican,Bengaluru,55,5.5,5953753
1,102,CharleysPhillySteaks,No,Varied Menu,Gurugram,72,6.8,7223131
2,103,Chuy's,Yes,Chicken,Pune,25,1.9,2555379
3,104,O'Charley's,Yes,Italian/Pizza,Mumbai,18,2.5,2175511
4,105,PolloTropical,Yes,Pizza,Noida,48,4.2,4816715

In [3]:
cols = list(df.columns)
print(cols)

['Id', 'Name', 'Franchise', 'Category', 'City', 'No_Of_Item', 'Order_Placed', 'Revenue']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            100 non-null    int64
 1   Name          100 non-null    object
 2   Franchise     100 non-null    object
 3   Category      100 non-null    object
 4   City          100 non-null    object
 5   No_Of_Item    100 non-null    int64
 6   Order_Placed  100 non-null    float64
 7   Revenue       100 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 6.4+ KB

In [5]:
df['Name'].value_counts()

HungryHowie'sPizza                 1
Sbarro                             1
J.Alexander's                      1
UnoPizzeria&Grill                  1
Cinnabon                           1
                                  ..
VillageInn                         1
NinetyNineRestaurants              1
FogodeChao                         1
OnTheBorderMexicanGrill&Cantina    1
Mimi'sBistro&Bakery                1
Name: Name, Length: 100, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import *

In [7]:
X = df[['No_Of_Item', 'Order_Placed', 'Category', 'City']] 
y = df['Revenue']

X = pd.get_dummies(X, columns=['Category', 'City'], drop_first=True)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [12]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse:.2f}')
print(f'R-squared: {r2:.2f}')

Mean Squared Error: 1027803612526.46
R-squared: 0.30